services:
  postgres:
    image: postgres:15
    container_name: data_warehouse_project
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: db_user
      POSTGRES_PASSWORD: db_pass
      POSTGRES_DB: data_warehouse
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U db_user -d sql_db"]
      interval: 30s
      timeout: 10s
      retries: 5

volumes:
  postgres_data:
